In [2]:
s1 = {}
print(type(s1))

<class 'dict'>

In [3]:
s1 = {10}
print(type(s1))

<class 'set'>

In [5]:
s1 = {10,10,10,10,20,10,30, 20.5, "Rahul", True}
print(s1)

{True, 'Rahul', 10, 20, 20.5, 30}

In [6]:
s1 = {10,10,10,10,20,10,30, 20.5, "Rahul", True}

i = 0
while i<= len(s1)-1: 
    print(s1[i])
    i=i+1

TypeError: 'set' object does not support indexing

In [7]:
s1 = {10,10,10,10,20,10,30, 20.5, "Rahul", True}

for ele in s1:
    print(ele)

True
Rahul
10
20
20.5
30

In [8]:
s1 = {10,10,10,10,20,10,30, 20.5, "Rahul", True}
s2  = s1.copy()
print(s1)
print(s2)

{True, 'Rahul', 10, 20, 20.5, 30}
{True, 'Rahul', 20, 20.5, 10, 30}

In [9]:
s1 = {10,10,10,10,20,10,30, 20.5, "Rahul", True}
s2  = s1.copy()

s1.update('Rahul', "Rahul Gandhi")
print(s1)
print(s2)

{True, 'R', 'Rahul', 'l', 'G', 10, 'h', 'd', 'u', ' ', 'n', 20, 20.5, 'a', 'i', 30}
{True, 'Rahul', 20, 20.5, 10, 30}

In [10]:
s1 = {10}
s1.update(10,20)

TypeError: 'int' object is not iterable

In [12]:
s1 = {10,20,30,40}
s1.add(50)
s1.add("Rahul")

print(s1)

{'Rahul', 40, 10, 50, 20, 30}

In [13]:
s1 = {10,20,30,40}

s1.update(50)
print(s1)

TypeError: 'int' object is not iterable

In [14]:
s1 = {10,20,30,40}

s1.update("Rahul")
print(s1)

{'R', 'l', 40, 10, 'h', 'u', 20, 'a', 30}

In [15]:
s1 = {10,20,30,40}

s2 = {10,20,30,40,50}
l1 = [101,102]
t1 = (1,2)
r1 = range(10)
s1.update(s2)
s1.update(s2, l1, t1, r1)


print(s1)

{0, 1, 2, 3, 4, 101, 102, 5, 40, 6, 10, 7, 8, 9, 50, 20, 30}

In [16]:
enames = {'Rahul', 'Sonia', 'Priyanka'}
enames.pop()

'Rahul'

In [18]:
enames = {'Rahul', 'Sonia', 'Priyanka', 10}
enames.pop()

10

In [21]:
enames = {'Rahul', 'Sonia', 'Priyanka', 10}

enames.remove('Rahul')
enames.remove('100')
print(enames)

KeyError: '100'

In [22]:
enames = {'Rahul', 'Sonia', 'Priyanka', 10}

enames.discard('Rahul')
enames.discard('100')
print(enames)

{10, 'Priyanka', 'Sonia'}

In [25]:
#set operations
s1 = {10,20,30,40}
s2 = {30,40,50,60}
s1.union(s2)
print(s1)

{40, 10, 20, 30}

In [28]:
s1 = {10,20,30,40}
s2 = {30,40,50,60}
print(s1.union(s2))
print(s1 | s2)

{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}

In [30]:
s1 = {10,20,30,40}
s2 = {30,40,50,60}

print(s1.intersection(s2))
print(s1 & s2)

{40, 30}
{40, 30}

In [32]:
s1 = {10,20,30,40}
s2 = {30,40,50,60}

print(s1 - s2)
print(s1.difference(s2))

{10, 20}
{10, 20}

In [34]:
s1 = {10,20,30,40}
s2 = {30,40,50,60}

print(s1.symmetric_difference(s2))
print(s1 ^ s2)

{10, 50, 20, 60}