In [1]:
a=10
b=20
print(a+b)

30

In [2]:
print("Hello")
print("Good Morning")

Hello
Good Morning

In [3]:
id = 101
ename = 'Rahul'
print("Employee Id", id, "Employee Name:", ename)

Employee Id 101 Employee Name: Rahul

In [4]:
id = 101
ename = 'Rahul'
print("Employee Id", id, " \n Employee Name:", ename)

Employee Id 101
 Employee Name: Rahul

In [5]:
id = 101
ename = 'Rahul'
print("Employee Id", id, "\t Employee Name:", ename)

Employee Id 101 	 Employee Name: Rahul

In [6]:
print("Hello,")
print("Good Morning")

Hello,
Good Morning

In [7]:
print("Hello,", end=" ")
print("Good Morning")

Hello, Good Morning

In [8]:
id  = 101
ename = "Rahul"
esal = 45000.00

print("Employee Id:", id, ":Employee Name:", ename)

Employee Id: 101 :Employee Name: Rahul

In [11]:
id  = 101
ename = "Rahul"
esal = 45000.00

print("Employee Id {}".format(id))

Employee Id 101

In [14]:
id  = 101
ename = "Rahul"
esal = 45000.00

print("Employee Id {} , Employee Name:{} and Employee Sal: {}"
      .format(id,ename,esal))

Employee Id 101 , Employee Name:Rahul and Employee Sal: 45000.0

In [15]:
id  = 101
ename = "Rahul"
esal = 45000.00

print("Employee Id {} , Employee Name:{} and Employee Sal: {}"
      .format(id,ename,esal))

print("Employee Id:{a} and Name: {b}".format(a=id, b= ename))

Employee Id 101 , Employee Name:Rahul and Employee Sal: 45000.0
Employee Id:101 and Name: Rahul

In [17]:
id = input("Enter Employee Id:")
ename = input("Enter Name:")
esal = input("Enter Employee Salary:")
print(type(id))
print(type(ename))
print(type(esal))
print(id)
print(ename)
print(esal)

Enter Employee Id:101
Enter Name:Rahul
Enter Employee Salary:45000.000
<class 'str'>
101

In [18]:
id = input("Enter Employee Id:")
ename = input("Enter Name:")
esal = input("Enter Employee Salary:")
print(type(id))
print(type(ename))
print(type(esal))
print(id)
print(ename)
print(esal)

Enter Employee Id:101
Enter Name:Rahul
Enter Employee Salary:45000
<class 'str'>
<class 'str'>
<class 'str'>
101
Rahul
45000